.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 94px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-style: normal;
  letter-spacing: 0.78px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  line-height: normal;
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;

  z-index: 100; */
}

.header-logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-style: normal;
  letter-spacing: 0.78px;
  padding-top: 24px;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
}

.header-menu:not(:last-child) {
  margin-right: 50px;
  color: #212121;
}

.header-menu {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu:focus {
  color: #2196F3;
}

.header-menu:hover,
.header-menu:focus {
  color: #2196F3;
  cursor: pointer;
}

.current {
  position: relative;
  color: #2196F3;
}

.current::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -35px;
  left: 0;
  background-color: #2196F3;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after {
  transform: scaleX(1);
}

.header-menu-item {
  display: flex;
  padding-left: 0px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu-itee {
  display: flex;
  padding-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-menu-itee:not(:last-child) {
  margin-right: 50px;
}

.header > .container {
  display: flex;
}

.address {
  display: flex;
  gap: 50px;
  margin-left: 290px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  cursor: pointer;
}

.address__address-itee {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__address-itee:hover, .address__address-itee:focus {
  color: #2196F3;
  cursor: pointer;
}

.address-item {
  margin-right: 50px;
}

.address-item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.address-iteem {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.address-iteem:not(:first-child) {
  margin-left: 50px;
}

.address-svg {
  margin-right: 10px;
  fill: currentColor;
}

.address-item:hover {
  color: #2196F3;
  cursor: pointer;
}

.section {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: #FFF;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}

.section-button {
  color: #2196F3;
  font-size: 16px;
  color: white;
  background-color: #2196F3;
  text-decoration: #2196F3;
  border: none;
  border-radius: 4px;
  line-height: 1.875;
  display: flex;
  margin: 0px auto;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button:hover,
.section-button:focus {
  background-color: #FFF;
  color: #2196F3;
}

.section-warning-title {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.section-warning-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.section-warning-text-portfolio {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.item-one::before {
  border-radius: 4px;
  background-color: #F5F4FA;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url(../img/antenna.png);
  display: block;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.item-two::before {
  border-radius: 4px;
  background-color: #F5F4FA;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url(../img/clock.png);
  display: block;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.item-three::before {
  border-radius: 4px;
  background-color: #F5F4FA;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url(../img/diagram.png);
  display: block;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.item-four::before {
  border-radius: 4px;
  background-color: #F5F4FA;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url(../img/astronaut.png);
  display: block;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.section-warning-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-warning-list > .section-warning-item {
  flex-basis: calc((100% - 90px) / 4);
}

.section-warning {
  padding-top: 94px;
}

.section-we-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.section-we-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-we-list > .section-we-img {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.section-we-box {
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-we-title-two {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

.section-we {
  padding-top: 106px;
  padding-bottom: 82px;
}

.section-we-title-list {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  color: #212121;
  margin-bottom: 50px;
}

.section-we {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-img-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-img-list > .section-img-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #ffffff;
}

.section-img {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social-list > .social-list__social-item {
  width: 44px;
  height: 44px;
}

.social-item__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #FFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item__social-link:hover, .social-item__social-link:focus {
  fill: #FFF;
  background-color: #2196F3;
}

.section-img-title {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.section-img-list {
  display: flex;
}

.section-img-list > .section-img-item:hover,
.section-img-list > .section-img-item:focus {
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section-img-text {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 94px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.customers-list > .customers-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 24px 45px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list > .customers-item:hover,
.customers-list > .customers-item:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}

.customers-svg {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg:hover,
.customers-svg:focus {
  fill: #2196F3;
}

.section-portfolio-list {
  gap: 8px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.section-portfolio-text {
  padding-bottom: 94px;
}

.section-portfolio-buton {
  border-radius: 4px;
  background: #F5F4FA;
  font-size: 20px;
  border: none;
  text-decoration: #212121;
  line-height: 1.625;
  padding: 6px 22px;
  display: flex-wrap;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-buton:hover,
.section-portfolio-buton:focus {
  color: #FFF;
  background-color: #2196F3;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.section-portfolio-buton {
  display: table;
  color: #212121;
}

.section-portfolio-title {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  line-height: 2;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 4px;
}

.section-portfolio-but {
  padding-top: 94px;
  /* padding-bottom: 50px; */
}

.section-portfolio-img {
  padding-right: 30px;
}

.section-portfolio-text {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section-portfolio-text > .section-portfolio-text-item:hover,
.section-portfolio-text > .section-portfolio-text-item:focus {
  cursor: pointer;
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.section-portfolio-text > .section-portfolio-text-item {
  flex-basis: calc((100% - 60px) / 3);
}

.section-portfolio-link:hover .overley {
  transform: translateY(0);
}

.overley-thumb {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
}

.overley-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFF;
  padding: 63px 24px;
}

.footer-address-logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: block;
  margin-bottom: 20px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-logo:hover,
.footer-address-logo:focus {
  color: #FFF;
}

.footer-box {
  flex-basis: calc(50% - 15px);
}

.footer > .container {
  display: flex;
  justify-content: start;
}

.footer-list {
  padding-left: 0px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
  color: #2196F3;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 12px;
}

.footer-list__footer-item {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: block;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__footer-item:hover,
.footer-list__footer-item:focus {
  color: #2196F3;
}

.footer-box-one {
  margin-right: 70px;
}

.footer-list__footer-text {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__footer-text:hover,
.footer-list__footer-text:focus {
  color: #2196F3;
}

.social-list-two {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-list-two > .social-list-two__social-item-two {
  width: 44px;
  height: 44px;
}

.social-item__social-link-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #FFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__social-link-two:hover,
.social-item__social-link-two:focus {
  fill: #FFF;
  background-color: #2196F3;
}

/* footer-three-box */
.footer-div-three-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  /* height: 50px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  margin-right: 12px;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
}

.footer-form-input:focus-within {
  border-color: #2196F3;
}

.footer-div-three-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  /* width: 200px;
  height: 50px; */
  padding: 10px 28px;
  background-color: #2196F3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-div-three-button:hover,
.footer-div-three-button:focus {
  background-color: #FFF;
  color: #2196F3;
}

.footer-svg-one {
  fill: currentColor;
  /* margin-left: 10px; */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 6px;
  background: transparent;
  border-radius: 100%;
  fill: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border-color: #2196F3;
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: #2196F3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-position {
  position: relative;
}

.modal-position:focus-within .modal-icon {
  fill: #2196F3;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
}

.modal-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  /* left: 12px;
  bottom: 11px;
  top: 11px; */
}

.form-input:focus-within {
  border-color: #2196F3;
}

.feedback {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.feedback:focus-within {
  border: 1px solid #2196F3;
}

.feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-box {
  display: flex;
  align-items: center;
}

.form-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
}

.form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-link {
  color: #2196F3;
}

.modal-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  padding: 10px 57px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:focus,
.modal-submit:hover {
  background-color: #FFF;
  color: #2196F3;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */