:root{
    --accent-color: #2196F3;
    --logoo-nomber-two-color: #000;
    --menu-color: #212121;
    --email-color: #757575;
    --title-big-color: #FFF;
    --back-background: #2F303A;
    --backk-tw-background: #F5F4FA;
    --color-svg: #afb1b8;
  }