.section-warning-title {
    color: var(--menu-color);
    font-size: 14px;
    font-style: normal;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .section-warning-text {
    color: var(--email-color);
    font-size: 14px;
    line-height: 1.7;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    font-size: 16px;
    font-style: normal;
    line-height: 1.875; 
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;  
  }
  
  .section-warning-text-portfolio {
  color: var(--email-color);
  font-size: 14px;
  line-height: 1.7;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.42px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.875; 
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;  
  
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  }
  
  .item-one::before {
    border-radius: 4px;
    background-color: #F5F4FA;
    content: '';
    width: 270px;
    height: 120px;
    background-image: url(../img/antenna.png); 
    display: block;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  
  .item-two::before {
    border-radius: 4px;
    background-color: #F5F4FA;
    content: '';
    width: 270px;
    height: 120px;
    background-image: url(../img/clock.png); 
    display: block;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  
  .item-three::before {
    border-radius: 4px;
    background-color: #F5F4FA;
    content: '';
    width: 270px;
    height: 120px;
    background-image: url(../img/diagram.png); 
    display: block;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  
  .item-four::before {
    border-radius: 4px;
    background-color: #F5F4FA;
    content: '';
    width: 270px;
    height: 120px;
    background-image: url(../img/astronaut.png); 
    display: block;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  
  .section-warning-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   }
  
   .section-warning-list > .section-warning-item {
    flex-basis: calc((100% - 90px) / 4);
   }
  
   .section-warning {
    padding-top: 94px;
  }